 BODY { font-family: &quot;ו&quot;; font-size: 9pt; SCROLLBAR-FACE-COLOR: #cccccc; 
SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #a7a7a7; SCROLLBAR-ARROW-COLOR: 
#000000; SCROLLBAR-DARKSHADOW-COLOR: } 
<p>&nbsp;</p>
<p>.t12 { font-size: 12px} a.top:hover { color: #FF33FF; text-decoration: underline; 
  font-size: 12px} a.top:link { text-decoration: none; color: #FF0000; font-size: 
  12px} a.top:active { color: #FFFFFF; text-decoration: none; font-size: 12px} 
  a.top:visited { color: #FF0000; font-size: 12px} a.c:hover { color: #FF0000; 
  text-decoration: underline} a.c:link { text-decoration: none; color: #126FD6} 
  a.c:active { color: #FF0000; text-decoration: none} a.c:visited { text-decoration: 
  none; color: #126FD6} .t14 { font-size: 14px} .bac_y { background-repeat: repeat-y} 
  .bac_x { background-repeat: repeat-x} .t12r { font-size: 9pt; line-height: 24px} 
  .9p { font-size: 9pt} .bac_no { background-repeat: no-repeat} .aa { font-size: 
  12px; line-height: 33px} .line { border: 1px #FFFFFF dotted; font-size: 12px; 
  background-color: #FFE3AA} .line1 { border: dotted; border-width: 0px 0px 1px; 
  border-color: black black #CCCCCC} .liner { border: dotted; border-width: 0px 
  1px 0px 0px; border-color: black #FFFFFF black black} </p>
<p>&nbsp;</p>
